*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#3ad0d0;
}

header{
    background:#131921;
    color:white;
    padding:20px;
}

header h1{
    margin-bottom:15px;
}

nav{
    margin-bottom:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-right:20px;
}

nav a:hover{
    color:orange;
}

form{
    display:flex;
}

form input{
    flex:1;
    padding:10px;
    border:none;
}

form button{
    background:#febd69;
    border:none;
    padding:10px 20px;
    cursor:pointer;
}

main{
    padding:30px;
}

section{
    margin-bottom:40px;
}

section h2{
    margin-bottom:20px;
}

article{
    background:white;
    width:250px;
    padding:15px;
    display:inline-block;
    margin-right:20px;
    border-radius:8px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

article img{
    width:100%;
    height:200px;
    object-fit:cover;
}

article h3{
    margin-top:10px;
}

article p{
    margin-top:10px;
    font-weight:bold;
    color:#B12704;
}

button{
    margin-top:10px;
    background:#ffd814;
    border:none;
    padding:10px;
    width:100%;
    border-radius:20px;
    cursor:pointer;
}

button:hover{
    background:#f7ca00;
}

ul{
    padding-left:20px;
}

li{
    margin-bottom:10px;
}

footer{
    background:#131921;
    color:white;
    text-align:center;
    padding:20px;
}